/*
* Colors
*/
$color-primary: #467D38;
$color-secondary: #0c7e9e;
$color-tertiary: #f7f7f7;
$color-tertiary-two:#467D38;
$color-light: #ffffff;
$color-dark: #000F08;
$color-black: #010f13;
$color-border: #d5d5d5;
$color-nav: #1C3738;
$color_card:#A0ACA5;
$color-danger: #fc0000;
$color-shadow: rgba(1, 6, 33, 0.06);
